body {
    background-color: #999DA8;
}

header {
    background-color: #3A3F52;
}

#searchedCardList > li {
    cursor: default;
    transition: background-color .1s;
}

#searchedCardList > li:hover {
   background-color: #D3D3D3;
}