body {
    background-color: #F5F5F5;
	/* background-color: #fde994; */
}

header {
	background-color: #be9639;
}

#searchedCardList > li {
    cursor: default;
    transition: background-color .1s;
}

#searchedCardList > li:hover {
   background-color: #D3D3D3;
}